<div class="container">

<section class="main-header">
  <img src="<%= asset_path "achieve.png" %>" >
</section>
<section class="about">
  <h1>About Photosapp</h1>
  <p>
    Instagram Cloneを制作
  </p>
</section>
<section class="function">
  <h1>Function</h1>


  <div class="function-images">
    <div class="function-image">
      <%= link_to(image_tag("key.png"), new_session_path ) %>
      <p>ログイン機能</p>
    </div>

    <div class="function-image">
      <!--<img src="assets/mails.png">-->
      <p>メール送信機能 <br>
        *実装していません</p>
    </div>

    <div class="function-image">
      <!--<img src="assets/girls.png">-->
      <!--<%= link_to(image_tag("girls.png"), new_picture_path ) %>-->
      <p>友達つながり機能 <br>
        *実装していません</p>
    </div>

    <div class="function-image">
    <img src="assets/comment.png">
      <p>コメント機能</p>
    </div>
  </div>

</section>

</div>
